@font-face {
  font-family: 'Nunito';
  src: 'https://fonts.googleapis.com/css?family=Nunito';
}

html {
  font-size: 100%;
}

body {
  padding-top: 3rem;
  background-color: #000000;
  font-family: 'Nunito', sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  position: sticky;
  background-color: #191919;
  width: 100vw;
  overflow: hidden;
  position: relative;
  top: -3rem;
  left: -0.625rem;
  height: 3.875rem;
  margin-bottom: 0rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #CFCFCF;
  text-align: center;
  padding: 1.2rem 1.5rem;
  margin-left: 4rem;
  text-decoration: none;
  font-size: 1.3rem;
  
}

/* Style the image inside the navigation bar */
.topnav img{
  float: left;
  width: 4.125rem;
  height: 2.438rem;
  margin: 0.688rem;
  margin-left: 2rem;
}

#profile-picture.shown {
  margin: 0.65rem 0.7rem 0.65rem 0rem;
  border-radius: 50%;
  height: 2.4rem;
  width: 2.4rem;
}

#profile-picture.hidden {
  margin: 0rem 0rem;
  border-radius: 50%;
  height: 2.4rem;
  width: 0rem;
  visibility: hidden;
}


/* Style the log in button inside the navigation bar */
#authorizeBtn {
  float: right;
  font-weight : bold;
  color: #191919;
  text-align: center;
  margin: .65rem 1.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  background-color: #FFC7AF;
  border-radius: 2.1875rem;
  border-color: #FFC7AF;
  border-style: solid;
  font-family: 'Nunito';
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  position: sticky;
}

#authorizeBtn.hidden {
  padding: .4rem 1.2rem;
}

#authorizeBtn.shown {
  padding: .6rem 0rem;
  display: flex;
  align-items: center;
}

/* Change the color of button on hover */
.topnav button:hover {
  background-color: #191919;
  color: #f2f2f2;
}

/* Change the color of links on hover */
.topnav button:hover { 
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav button.active {
  background-color: #FFC7AF;
  color: black;
  font-weight: bold;
}

#button1 {
  border:0.063rem #333 solid;   
  padding:0.625rem;
  background-color:white;
  -webkit-border-radius:2.5rem;
  -moz-border-radius:2.5rem;
  border-radius:2.5rem;
}

.play-button {
  background-color: #FFC7AF;
  border-radius: 2.1875rem;
  border-color: #FFC7AF;
  border-style: solid;
  color: #ce5e2e;
  padding: .6rem 1.2rem;
  text-align: center;
  font-size: 5rem;
  width: 9.375rem;
  height: 4.688rem;
  display: block;
  margin-top: 4.5rem;
  margin-left: 3906.3%;
  font-family: 'Nunito';
  font-size: 21px;
  margin-left: 106px;
  margin-top: 63px;
  text-align: center;
  position: absolute;
  color: #1D8C9F;
  font-weight: 800;
  font-size: 30px;
  position: absolute;
}

.desc {
  width: 230px;
  height: 145px;
  margin-left: 39px;
  margin-top: 119px;
  font-family: 'Nunito';
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #1E1E1E;
  position: absolute;
}


