.fixed-header, .fixed-footer {
    padding: 15px 0;
    background-color: #264653;
    position: fixed;
    width: 100%;
    z-index: 100; /*How items are stacked on page*/
    height: 40px;
    left: 0;
}

.fixed-header {
    top: 0;
}

.fixed-footer {
    bottom: 0;
}

.hbutton {
    color:#F4A261;
    background-color: #1b323a;
    top: 0;
    right: 0;
    z-index: 101;
}

.title {
    vertical-align: middle;
    font-size: 2rem;
    text-align: center;
    color: #F4A261;
    padding-left: 5px;
    padding-right: 5px;
}

body {
    padding-top: 50px;
    background-color: #B9E2E0;

}
