h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #1477db;
}

h3 {
    font-size: 2rem;
    text-align: center;
    color: #F4A261;
}

h4 {
    font-size: 2rem;
    text-align: justify;
    color: #1b323a;
}

p {
    font-size: 1.5rem;
    text-align: justify;
    color: #000000;
}