body {
    background-color: #B9E2E0;
    font-size: 0;
}

span {
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
    text-align: left;
    color: #F4A261;
    padding-left: 10px;
    padding-right: 40px;
}

h2 {
    font-size: 20px;
    text-align: left;
    color: #264653;
}

p {
    font-size: 15px;
    text-align: left;
    color: #264653;
}

hr {
    border: 0px;
    background-color: #264653;
    height: calc(1vh/3);
    width: 10vw;
}

.top {
    display: table;
    background-color: #264653;
    position: fixed;
    vertical-align: middle;
    top: 0px;
    right: 0px;
    margin: 0px;
    border-width: 0px;
    width: 100vw;
    height: 10vh;
}

.modes {
    position: fixed;
    top: calc(100vh - 100vh * (2/5) );
    margin: 0px;
    border-width: 0px;
    width: calc(100vw/3);
    height: calc(100vh * (2/5));
    padding: 100px 100px 100px 50px;
}

.single {
    background-color: #F4A261;
    right: calc(100vw/3 * 2);
}

.bill {
    background-color: #E76F51;
    right: calc(100vw/3 * 1);
}

.friend {
    background-color: #F4A261;
    right: calc(100vw/3 * 0);
}