body {
    background-color: #B9E2E0;
    font-size: 0;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #264653;
}
/* Add a black background color to the top navigation */
.topnav {

    background-color: #264653;
    width: 1600px;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #F4A261;
    color: white;
  }

h2 {
    font-size: 2rem;
    text-align: center;
    color: #264653;
}


h3 {
    font-size: 1rem;
    text-align: center;
    color: #264653;
}

h4 {
    font-size: 2rem;
    text-align: center;
    color: #F4A261;
}

tr {
    text-align: center;
    color: #264653;
}

span {
    font-size: 1rem;
    color: #FFFF;
}

button {
    background-color: #F4A261;
    width: 50vw;
}