/* General page formatting */
body {
    margin: 0;
    overflow-x: hidden;
}
.main{
    min-height: 100vh;
}

/* Title block formatting */

#billboard {
    width: 350px;
    margin: 0 0 3em;
}

#title-desc {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#title-text {
    margin: 0 1%;
    text-align: center;
    width: auto;
}

.title-wave{
    max-width: 100%;
    height: auto;
}

.title-rectangle {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 81vw;
    min-height: 35vh;
    background-color: #1D8C9F;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    border-radius: 32px;
    padding: 60px 12px 80px;
}

/* Remove waves if the screen width is below given width */
@media (max-width: 1250px) {
    .title-wave {
        display: none;
    }
}

/* How to play formatting */
#how-to-rectangle {
    width: 81vw;
    min-height: 35vh;
    margin: auto;
    margin-top: 7vh;
    text-align: center;
    padding: 48px 12px;
}


#how-to-title {
    margin: 0;
    margin-top: -1vh;
    color: #1D8C9F;
    margin-bottom: 2vh;

}

#how-to-desc {
    display: flex;
    justify-content: center;
    column-gap: 4vw;
    text-align: center;
    margin-top: 3em;
    font-size: 1.2em;
    font-weight: 600;
}
    #how-to-desc div {
        background-color: #B9E2E0;
            border-radius: 32px;
        width: 25vw;
        padding: 1em;
        box-sizing: border-box;
    }
        #how-to-desc div h2 {
            color: #1D8C9F;
            font-weight: 900;
        }

/* Play button formatting */

#play-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 3em auto 3em;
}

#play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC7AF;
    color: #CE5E2E;
    border-radius: 40px;
    min-width: 9.375rem;
    height: 4.6758rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0.5rem;
    font-size: 1.8em;
}


/* About us formatting*/
#about-us {
    background-color: white;
    color: #1E1E1E;
    padding: 2em 9.5vw 3em;
    font-size: 1.2em;
}

#about-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    width: 81vw;
    padding-top: 50px;
}
.about-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1d8c9f;
    color: white;
    height: 375px;
    width: 225px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 40px;
    margin-top: 10px;

}

.about-card img {
    height: 50%;
    padding-top: 0px;
    margin-top: 0px;
    border-radius: 25px;
    object-fit: cover;
}

.about-card h3 {
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.about-card h4 {
    margin: 5px;
}