@font-face {
  font-family: Nunito;
  src: 'https://fonts.googleapis.com/css?family=Nunito';
}

html {
  font-size: 100%;
}

body {
  padding-top: 3rem;
  background-color: #000000;
}

/* Add a black background color to the top navigation */
.topnav {
  position: sticky;
  background-color: #191919;
  width: 100vw;
  overflow: hidden;
  position: relative;
  top: -60px;
  left: -10px;
  height: 62px;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #CFCFCF;
  text-align: center;
  padding: 1.2rem 1.5rem;
  margin-left: 4rem;
  text-decoration: none;
  font-size: 1.3rem;
  
}

/* Style the image inside the navigation bar */
.topnav img{
  float: left;
  width: 66px;
  height: 39px;
  margin: 11px;
  margin-left: 2rem;
}


/* Style the log in button inside the navigation bar */
.topnav input {

  float: right;
  font-weight : bold;
  color: #191919;
  text-align: center;
  padding: .6rem 1.2rem;
  margin: .65rem .7rem;
  text-decoration: none;
  font-size: 1.1rem;
  background-color: #FFC7AF;
  border-radius: 2.1875rem;
  border-color: #FFC7AF;
  border-style: solid;
  font-family: 'Nunito';

}

/* Change the color of button on hover */
.topnav a:hover {
  background-color: #191919;
  color: #f2f2f2;
}

/* Change the color of links on hover */
.topnav a:hover { 
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FFC7AF;
  color: black;
  font-weight: bold;
}

#button1 {
  border:1px #333 solid;   
 padding:10px;
 background-color:white;
 -webkit-border-radius:40px;
 -moz-border-radius:40px;
 border-radius:40px;
}


