@font-face {
  font-family: 'Nunito';
  src: 'https://fonts.googleapis.com/css?family=Nunito';
}

html {
  font-size: 100%;
}

body {
  padding-top: 3rem;
  background-color: #000000;
  font-family: 'Nunito', sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  position: sticky;
  background-color: #191919;
  width: 100vw;
  overflow: hidden;
  position: relative;
  top: -60px;
  left: -10px;
  height: 62px;
  margin-bottom: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #CFCFCF;
  text-align: center;
  padding: 1.2rem 1.5rem;
  margin-left: 4rem;
  text-decoration: none;
  font-size: 1.3rem;
  
}

/* Style the image inside the navigation bar */
.topnav img{
  float: left;
  width: 66px;
  height: 39px;
  margin: 11px;
  margin-left: 2rem;
}


/* Style the log in button inside the navigation bar */
.topnav input {
  float: right;
  font-weight : bold;
  color: #191919;
  text-align: center;
  padding: .6rem 1.2rem;
  margin: .65rem .7rem;
  text-decoration: none;
  font-size: 1.1rem;
  background-color: #FFC7AF;
  border-radius: 2.1875rem;
  border-color: #FFC7AF;
  border-style: solid;
  font-family: 'Nunito';
  cursor: pointer;
}

/* Change the color of button on hover */
.topnav a:hover {
  background-color: #191919;
  color: #f2f2f2;
}

/* Change the color of links on hover */
.topnav a:hover { 
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FFC7AF;
  color: black;
  font-weight: bold;
}

#button1 {
  border:1px #333 solid;   
 padding:10px;
 background-color:white;
 -webkit-border-radius:40px;
 -moz-border-radius:40px;
 border-radius:40px;
}

/* .bottom-section {
  position: absolute;
  margin-top: 470px;
  width: 110%;
  height: 50%;
  background-color: white;
  transform: translateY(50%);
  z-index: 2;
}

.rectangle {
  width:1033px;
  height:482px;
  margin-left: 123px;
  background :#1D8C9F;
  border-radius: 36px;
  display: flex;
  align-items: center;
}

.title {
  width:513px;
  height:128px;
  margin-top: -175px;
  margin-left:260px;
  font-size: 94px;
  color: white;
  font-family: 'Nunito';
  font-weight: bold;
  position: absolute;
}

.intro {
  width: 503px;
  height: 174px;
  font-family: 'Nunito';
  font-size: 21px;
  margin-left: 265px;
  margin-top: 200px;
  text-align: center;
  position: absolute;
  color: white;
}

.intro2 {
  width: 503px;
  height: 174px;
  font-family: 'Nunito';
  font-size: 21px;
  margin-left: 265px;
  margin-top: 475px;
  text-align: center;
  position: absolute;
  color: white;
}

.left-bars {
  margin-left: 54px;
  position: absolute;
}

.right-bars {
  margin-left: 814px;
  position: absolute;
}

.circle {
  width: 81px;
  height: 81px;
  margin-left: 470px;
  margin-top: 495px;
  border-radius: 40.5px;
  background: white;
  position: absolute;
}

.image {
  width: 81px;
  height: 81px;
  margin-left: 15px;
  margin-top: 10px;
  position: absolute;
}

.vs-bill {
  width:308px;
  height:338px;
  margin-left: 123px;
  margin-top: 125px;
  background :#B9E2E0;
  border-radius: 36px;
  align-items: center;
  position: absolute;
}

.solo {
  width:308px;
  height:338px;
  margin-left: 483px;
  margin-top: 125px;
  background :#FFC7AF;
  border-radius: 36px;
  align-items: center;
  position: absolute;
}

.friends {
  width:308px;
  height:338px;
  margin-left: 848px;
  margin-top: 125px;
  background :#B9E2E0;
  border-radius: 36px;
  align-items: center;
  position: absolute;
}

.bill-title {
  width: 96px;
  height: 41px;
  font-family: 'Nunito';
  font-size: 21px;
  margin-left: 106px;
  margin-top: 63px;
  text-align: center;
  position: absolute;
  color: #1D8C9F;
  font-weight: 800;
  font-size: 30px;
  position: absolute;
}

.bill-desc {
  width: 230px;
  height: 145px;
  margin-left: 39px;
  margin-top: 119px;
  font-family: 'Nunito';
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #1E1E1E;
  position: absolute;
}

.block-title {
  width: 96px;
  height: 41px;
  font-family: 'Nunito';
  font-size: 21px;
  margin-left: 106px;
  margin-top: 63px;
  text-align: center;
  position: absolute;
  color: #1D8C9F;
  font-weight: 800;
  font-size: 30px;
  position: absolute;
}

.desc {
  width: 230px;
  height: 145px;
  margin-left: 39px;
  margin-top: 119px;
  font-family: 'Nunito';
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #1E1E1E;
  position: absolute;
} */


