#your-results {
    font-size: 3.94rem;
    color: white;
    text-align: center;
    margin: 0;
}

#score-heading {
    font-size: 1.875rem;
    color: #B9E2E0;
    text-align: center;
    margin: 0 0 2em;
}

#questions {
    display: none; /* Show once done loading in JS file */
    text-align: center;
}

.question {
    margin: 0.15em 0;
    font-size: 1.875em;
}

.question-block {
    display: flex;
    column-gap: 1em;
    margin: 2.5em 7em;
    padding: 2em 3em 2em 2em;
    border-radius: 2.5rem;
    text-align: left;
}

.question-num {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    min-height: 3rem;
    min-width: 3rem;
    margin: 0;
    font-weight: 900;
    font-size: 1.5em;
}

.correct {
    background-color:#B9E2E0;
    color:#1D8C9F;
}

.wrong {
    background-color: #FFC7AF;
    color: #CE5E2E;
}

p {
    font-size: 1.31em;
    color: black;
}
    p.more-info {
        font-weight: 900;
    }

#play-again-btn {
    font-weight: bold;
    text-align: center;
    padding: .6rem 1.2rem;
    margin: 1em 0 3em;
    font-size: 1.31rem;
    background-color: white;
    border-radius: 2.1875rem;
    border-color: transparent;
    cursor: pointer;
    font-family: 'Nunito';
}