
h1 {
    color: #FFFFFF;
    font-family: 'Nunito';
    font-size: 3.94rem;
    text-align: center;
    margin-top: 0px;
}

.answer-top-left{
    background-color: #B9E2E0;
    font-family: 'Nunito';
    border: none;
    color: #1D8C9F;
    font-weight: bold;
    width: 32.5%;
    height: 18%;
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    position: absolute;
    border-radius: 2.5rem;
    top: 35%;
    left: 14%;
}

.answer-top-left:hover {
    background-color: #1D8C9F;
    color: #B9E2E0;
}

.answer-top-right{
    background-color: #B9E2E0;
    font-family: 'Nunito';
    border: none;
    color: #1D8C9F;
    font-weight: bold;
    width: 32.5%;
    height: 18%;
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    position: absolute;
    border-radius: 2.5rem;
    top: 35%;
    left: 54%;
}

.answer-top-right:hover {
    background-color: #1D8C9F;
    color: #B9E2E0;
}

.answer-bottom-left{
    background-color: #B9E2E0;
    font-family: 'Nunito';
    border: none;
    color: #1D8C9F;
    font-weight: bold;
    width: 32.5%;
    height: 18%;
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    position: absolute;
    border-radius: 2.5rem;
    top: 60%;
    left: 14%;
}

.answer-bottom-left:hover {
    background-color: #1D8C9F;
    color: #B9E2E0;
}

.answer-bottom-right{
    background-color: #B9E2E0;
    font-family: 'Nunito';
    border: none;
    color: #1D8C9F;
    font-weight: bold;
    width: 32.5%;
    height: 18%;
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    position: absolute;
    border-radius: 2.5rem;
    top: 60%;
    left: 54%;
}


.answer-bottom-right:hover {
    background-color: #1D8C9F;
    color: #B9E2E0;
}

/* FIX CENTERING ISSUES */
#question-circle { /* Circle of the question number */
    font-family: 'Nunito';
    font-weight: bolder;
    font-size: 1.875rem;
    background-color: #FFFFFF;
    color: #1E1E1E;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-left: 8px;
    margin-right: 8px;
}

#question-number { /* Number of the question number*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}



.left-wave { /* Picture of the left wave */
    height: 6rem;
}

.right-wave { /* Picture of the right wave */

    height: 6rem;
}


.question-wave { /* Div containing the question circle, number, left and right waves*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    float: center;
    top: 85%;
    right: 35.5%;

}